<br>
<br>
<br>




<!-- <div class="container">
    <div class="row">
        <form #form="ngForm" (ngSubmit)="save(form);">
            <div>
                <label for="firstName">First Name</label>
                <input ngModel #firstName="ngModel" type="text" name="firstName" class="form-control">
            </div>
            <div>
                <label for="lastName">Last Name</label>
                <input ngModel #lastName="ngModel" type="text" name="lastName" class="form-control">
            </div>
            <div>
                <label for="firstName">Age</label>
                <input ngModel #age="ngModel" type="number" name="age" min="18" max=
                "80" class="form-control" required>
            </div>
            <div>
                <label for="phoneNumber">Phone</label>
                <input ngModel #phoneNumber="ngModel" type="text" name="phoneNumber" class="form-control">
            </div>
            <div>
                <label for="aadhar">Aadhar</label>
                <input ngModel #aadhar="ngModel" type="text" name="aadhar" class="form-control">
            </div>
            <div>
                <label for="email">Email</label>
                <input ngModel #email="ngModel" type="email" name="email" class="form-control">
            </div>
            <div>
                <label for="password">Password</label>
                <input ngModel #password="ngModel" type="password" name="password" class="form-control">
            </div>
            <div>
                <label for="cpass">Confirm Password</label>
                <input ngModel #cpass="ngModel" type="password" name="cpass" class="form-control">
            </div>
            <div class="d-grid mt-2">
                <button class="btn btn-primary" >Save</button>
            </div>


        </form>
    </div>
</div> -->


<div id="login-box" style="height: 603px;background-color: wheat;">
    <div class="left">
      <h1>Sign up</h1>
      <form #form="ngForm" (ngSubmit)="save(form);">


        <input ngModel placeholder="FirstName" #firstName="ngModel" type="text" name="firstName" class="form-control">

          <input ngModel placeholder="LastName" #lastName="ngModel" type="text" name="lastName" class="form-control">
          <input ngModel placeholder="age" #age="ngModel" type="number" name="age" min="18" max="80" class="form-control" required>
          <input ngModel style="margin-top: 20px;" placeholder="phoneNumber" #phoneNumber="ngModel" type="text" name="phoneNumber" class="form-control">
          <input ngModel placeholder="aadhar" #aadhar="ngModel" type="text" name="aadhar" class="form-control">
          <input ngModel placeholder="email" #email="ngModel" type="email" name="email" class="form-control">
          <input ngModel style="margin-top: 20px;" placeholder="password" #password="ngModel" type="password" name="password" class="form-control">
          <input ngModel placeholder="Confirm password" #cpass="ngModel" type="password" name="cpass" class="form-control">

        <div class="d-grid mt-2">
            <button class="btn btn-primary" >Save</button>
        </div>





      </form>
    </div>

    <div class="right">
      <span class="loginwith">Sign in with<br />social network</span>

      <button class="social-signin facebook">Log in with facebook</button>
      <button class="social-signin twitter">Log in with Twitter</button>
      <button class="social-signin google">Log in with Google+</button>
    </div>
    <div class="or">OR</div>
  </div>
